.status {
  font-size: 87.5%;
  padding: 0.25rem;
}

.status__text {
  margin: 0 auto;
  max-width: 640px;
  text-align: right;
}

.status__link__user {
  text-decoration: none;
  color: dimgray;
}

.status__logout {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}